{% extends 'base.html.twig' %}

{% block title %}Edit ViewObject{% endblock %}

{% block body %}
    <h1>Edit ViewObject</h1>

    {{ include('view_object/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('view_object_index') }}">back to list</a>

    {{ include('view_object/_delete_form.html.twig') }}
{% endblock %}
