{% extends 'base.html.twig' %}

{% block title %}Minute Audio and Video Viewer{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h1>Niet ondersteund bestand</h1>
                <p>Het opgegeven media bestand wordt niet ondersteund door deze versie van de viewer.</p>
            </div>
        </div>
    </div>
{% endblock %}